<main class="main">
  <div>
    @if (!msal.isIframe && !msal.loginDisplay) {
      <input type="button" (click)="msal.login()" value="Log in" />
    }
    @if (!msal.isIframe && msal.loginDisplay) {
      <input type="button" (click)="msal.logout()" value="Log out" />
      <p>Forecast:</p>
      @for (f of $forecast | async; track f.date) {
        <p>{{ f.date }} - {{ f.temperatureC }}C</p>
      }
    }
  </div>
</main>

<!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
@if (!msal.isIframe) {
  <router-outlet />
}
