[Program.cs]

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

[*.cs]

# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none

# CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity = none

# SA1206: Declaration keywords should follow order
dotnet_diagnostic.SA1206.severity = none
