[Program.cs]

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none


[**/Migrations/*.cs]

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1861.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = none

# RCS0056: A line is too long
dotnet_diagnostic.RCS0056.severity = none


[*.cs]

# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none

# CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = suggestion

# SA1206: Declaration keywords should follow order
dotnet_diagnostic.SA1206.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
